# RTC Related
config MTK_RTC
	bool "MediaTek Real Time Clock Support"
	default n
	help
	  A real-time clock (RTC) is a computer
	  clock (most often in the form of an
	  integrated circuit) that keeps track
	  of the current time.

# prize added by chenjiaxi, emmc test, 20220518-start
config PRIZE_EMMC_TEST
	bool "prize emmc test"
 	default n
	help
	  prize emmc test
# prize added by chenjiaxi, emmc test, 20220518-end